*{
    padding: 0%;
    margin: 0%;
    font-family: 'PT Sans Narrow', sans-serif;
    box-sizing: border-box;
    list-style: none;
}
nav{
    background-image: linear-gradient(to right, rgb(34, 34, 34), rgb(35, 35, 41));
    height: 85px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: fixed;
    z-index: 1;
}
.logo{
    height: 130px;
    width: 130px;
    margin-left: 30px;
    margin-top: -20px;
}
.tog{
    background-image: linear-gradient(to right, rgba(29, 29, 33, 0.9), rgba(15, 15, 15, 0.9));
    height: 40px;
    width: 40px;
    border: 1px solid rgb(37, 37, 37);
    outline: none;
    float: right;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 40px;
    display: none;
}
.fa-bars{
    font-size: 20px;
    opacity: 1;
    color: rgb(229, 225, 225);
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 10px 10px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(244, 241, 241);
    font-size: 17px;
    padding: 8px 8px 20.5px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
nav ul li a:hover{
    background-image: linear-gradient(to right, rgba(28, 28, 85, 0.8), rgb(49, 49, 145, 0.8));
    color: rgb(205, 48, 48);
}
.phantom{
    width: 100%;
    display: block;
    padding-top: 30px;
   
}
.sub{
    height: 100%;
    position: absolute;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 1;
    transform: 1s;
}
.text{
    position: absolute;
    margin-top: -600px;
    color: whitesmoke;
     margin-left: 160px;
}

h3{
    font-size: 25px;
}

h1{
    padding-top: 20px;
    font-size: 90px;
}

p{
    padding-top: 30px;
    font-size: 28px;
    padding-right: 400px;
}

.row .btn a{
  text-decoration: none;
  color: #f12020;
 
}


.row .btn{
  display: inline-block;
  padding: 5px 15px 5px 15px;
  border: 0.1rem solid rgb(255, 255, 255);
  color: red;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 5px;
  text-decoration: none;
  margin-top: 50px;
  background-color: transparent;
}

.row .btn::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: rgb(255, 255, 255);
  transition: .3s linear;
  z-index: -1;
}

.row .btn:hover::before{
  width: 100%;
  left: 0;
}

.row .btn a:hover{
  color: rgb(8, 0, 0);
  font-weight: 700;
}


/* .row .btn:hover{
  color: #fff;
} */


.container-1{
    gap: 1.5rem;
    margin-left: 200px;
}

.about{
    position: relative;
    margin-left: 100px;
    margin-top: 100px;
}

.abt{
    position: absolute;
font-size: 50px;
margin-left: -45px;
margin-top: 20px;
color: #145180
}

.img{
    position: absolute;
    margin-top: -55px;
    height: 450px;
    width: 400px;
    margin-left: -120px;
}

.intro{
    margin-left: 500px;
  
}

.head{
    font-size: 30px;
    margin-top: 60px;
    margin-right: 0px;
}

.content{
    padding-right: 100px;
}

.heading{
margin-top: 150px;
text-align: center;
font-size: 60px;
}

.popular .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-left: 200px;
}

.popular .box-container .box{
    padding: 2rem;
    background: #fff;
    box-shadow: 0.5rem 1rem rgba(188, 180, 180, 0.1);
    border: 0.2rem solid rgba(251, 158, 158, 0.3);
    cursor: pointer;
    border-radius: .5rem;
    text-align: center;
    position: relative;
    width: 500px;
    height: 320px;
    margin-top: 70px;
}

.popular .box-container .box img{
     height: 16rem;
     object-fit: cover;
     width: 114%;
     border-radius: .5rem;
    margin-left: -30px;
     margin-top: -31px;
     position: relative;
    
}

.popular .box-container .box .price{
    position: absolute;
    top: 1.5rem;
    left: 0.5rem;
    background: red;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    margin-top: -15px;
}

/* .popular .box-container .box h3{

    font-size: 2.5rem;
    padding-top: 1rem;
    background: red;
    color: #fff;
    font-size: 2rem;
    padding: 2px 5px 2px 5px;
    border-radius: .5rem;
} */

.btn{
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border: 0.1rem solid red;
    color: red;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 5px;
    text-decoration: none;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: black;
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before{
    width: 100%;
    left: 0;
}

.btn:hover{
    color: #fff;
}

.terms{
    margin-left: 200px;
    margin-top: 10px;
    font-weight: bolder;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
  
  .review .box-container .box{
    text-align: center;
    padding:2rem;
    border:1rem solid #fff;
    box-shadow: 0.1rem 1rem rgba(127, 125, 125, 0.3);
    border-radius: .5rem;
    flex:1 1 30rem;
    background:rgb(69, 67, 67);
    margin-top: 80px;
    margin-bottom: 30px;
  }
  
  .review .box-container .box .logo{
    height: 8rem;
    width:8rem;
    border-radius: 50%;
    border:0.21rem solid rgb(184, 183, 183);
    background-color:rgb(255, 255, 255) ;
    margin-top: -20rem;
    font-size: 100px;
    color: rgb(255, 0, 0);
    margin-left: -15px;
  }
  
  .review .box-container .box h3{
    font-size: 1.5rem;
    color:#fff;
    padding:.5rem 0;
    
  }
  
  .review .box-container .box .stars i{
    font-size: 2rem;
    color:white;
    padding:.5rem 0;
  }
  
  .review .box-container .box p{
    font-size: 1rem;
    color:#eee;
    padding:1rem 0;
  }

  footer{
    bottom: 0px;
    width: 100%;
    background: #111;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box.content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #ffffff;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: #f12020;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #f9f9f9;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #f12020;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
    margin-top: 0rem;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #000;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }





@media (max-width:1000px){
    nav{
        height: 65px;
    }
    .logo{
        height: 100px;
        width: 100px;
    }
    .tog{
        margin-top: 7px;
    }
    nav ul li{
        line-height: 60px;
        margin: 0 10px;
    }
    nav ul li a{
        font-size: 13px;
        padding: 8px 8px 17px 8px;
    }
    .text{
        position: absolute;
        margin-top: -380px;
        color: whitesmoke;
         margin-left: 80px;
    }
   
        h3{
            font-size: 18px;
        }
        
        h1{
            padding-top: 10px;
            font-size: 60px;
        }
        
        p{
            padding-top: 10px;
            font-size: 18px;
            padding-right: 60px;
        }
        footer{
            position: relative;
            bottom: 0px;
          }
          .main-content{
            flex-wrap: wrap;
            flex-direction: column;
          }
          .main-content .box{
            margin: 5px 0;
          }
}
@media (max-width:767px){
    nav ul{
        margin-right: 30px;
    }
    nav ul li{
        margin: 0 3px;
    }
    .text{
        position: relative;
        margin-top: -220px;
        color: whitesmoke;
         margin-left: 80px;
    }
   
        h3{
            font-size: 13px;
        }
        
        h1{
            padding-top: 10px;
            font-size: 45px;
        }
        
        p{
            padding-top: 10px;
            font-size: 13px;
            padding-right: 70px;
        }

        .tog-1{
            margin-top: 20px;
            font-size: 20px;
            padding: 5px 10px 5px 10px;
         
         }

         .about{
            margin-left: -100px;
            margin-top: 00px;
         }

         .head{
            position: absolute;
            font-size: 20px;
            margin-top: 300px;
            margin-left: -650px;
           
        }
        .content{
            position: absolute;
            font-size: 20px;
            margin-top: 340px;
            margin-left: -650px;
            margin-right: -60px;
        }
        
        .popular .box-container .box{
            margin-top: 50px;
            padding: 2rem;
            width: 480px;
            height: 320px;
            margin-left: -180px;
           
         }
 
         .heading{
             margin-top: 590px;
             font-size: 40px;
         }
 
         .popular .box-container .box img{
            
             margin-top: -30px;
             width: 115%;
             
        }
        
 
    .tog{
        display: block;
  
    }
    ul{
        position: fixed;
        width: 100%;
        height: 500px;
        background: rgb(32, 32, 33);
        text-align: center;
        display: none;
        margin-top: -20px;
    }
    nav ul li a{
        color: rgb(243, 239, 239);
        font-size: 17px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 0px;
       
    }
    nav ul li{
        display: block;
        line-height: 30px;
        margin: 50px 0;
    }
    nav ul li a:hover{
        border: none;
        color: rgb(195, 192, 192);
        background-image: linear-gradient(rgb(4, 4, 48),rgb(4, 4, 48));
    }

    .container .btn{
      font-size: 13px;
    }
    .terms{
      margin-left: 30px;
      font-size: 20px;
      padding-top: 15px;
      font-weight: bolder;
    }
    .row .btn{
      margin-top: 10px;
    }


}


@media (max-width:500px){
    nav{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .tog{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 500px;
        background: rgb(32, 32, 33);
        text-align: center;
        display: none;
        margin-top: -20px;
    }
    nav ul li a{
        color: rgb(243, 239, 239);
        font-size: 17px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 0px;
       
    }
    nav ul li{
        display: block;
        line-height: 30px;
        margin: 50px 0;
    }
    nav ul li a:hover{
        border: none;
        color: rgb(195, 192, 192);
        background-image: linear-gradient(rgb(4, 4, 48),rgb(4, 4, 48));
    }

    .text{
        position: absolute;
        margin-top: -160px;
        color: whitesmoke;
         margin-left: 80px;
    }
   
        h3{
            font-size: 12px;
        }
        
        h1{
            padding-top: 4px;
            font-size: 30px;
        }
        
        p{
            padding-top: 4px;
            font-size: 12px;
            padding-right: 40px;
        }
        .popular .box-container .box img{
           
           margin-top: -30px;
           width: 118%;
           
      }
      .head{
        font-size: 20px;
      }
      
      .content{
        margin-top: 360px;
      }

      .row .btn{
        margin-top: 7px;
        font-size: 10px;
        padding: 3px 5px 3px 5px;
      }
    }